.share-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.share-bg-img {
  width: 750px;
  height: 1000px;
  background-image: url('http://teachoss.itheima.net/heimaQuestionMiniapp/assets/other_icons/daka.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.share-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 337px;
  margin-bottom: 20px;
}

.share-days {
  font-size: 32px;
  color: #3c3e42;
  line-height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.share-days-number {
  font-size: 140px;
  line-height: 113px;
  color: #121826;
  display: inline-block;
}

.share-userInfo-des {
  font-size: 26px;
  color: #c3c3c5;
}

.share-font-black {
  font-size: 26px;
  color: #3c3e42;
}

//  原
.clockIn-model {
  width: 605px;
  height: 829px;
}
.clockIn-model-bgImg {
  width: 605px;
  height: 850px;
  background-image: url('http://teachoss.itheima.net/heimaQuestionMiniapp/assets/other_icons/test_share_bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clockIn-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
}

.clockIn-save-img {
  width: 262px;
  height: 72px;
  margin-right: 34px;
}

.clockIn-share-img {
  width: 234px;
  height: 72px;
}

.clockIn-model-title {
  color: #fff;
  font-size: 36px;
  padding-top: 307px;
  text-align: center;
  padding-bottom: 76px;
}

.clockIn-content {
  display: flex;
  flex-direction: column;
  width: 492px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.clockIn-userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 14px;
}

.clockIn-userInfo-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 40px;
}

.clockIn-userInfo-nick {
  color: #656e7b;
  font-size: 24px;
}

.clockIn-userInfo-des {
  font-size: 26px;
  color: #656e7b;
}
.clockIn-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clockIn-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  width: 263.5px;
}
.clockIn-split {
  width: 1px;
  height: 36px;
  background-color: #dbdcdf;
}

.clockIn-column-des {
  color: #8d93a3;
  font-size: 18px;
  margin-bottom: 4px;
}

.clockIn-column-number {
  font-size: 24px;
  color: #3c3e42;
}

.clock-font-black {
  font-size: 26px;
  color: #3c3e42;
}

.clock-font-big {
  font-size: 36px;
  color: #3c3e42;
}

.share-btn {
  margin-left: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 234px;
  height: 72px;
  margin: 0 auto;
}

.share-btn::after {
  border: none;
}
