@font-face {
  font-family: 'HanTi'; // --自定义名字就好
  src: url('http://teachoss.itheima.net/heimaQuestionMiniapp/assets/fonts/Han.otf'); // --下载的字体文件路径
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.first-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.index__swiper-img {
  display: block;
  width: 690px;
  height: 260px;
  margin: 0 auto;
  margin-top: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.first-content-wrap {
  position: relative;
}

.filter-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: white;
}

// top-part
.top-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 32px;
}

.first-search-bar {
  flex-grow: 1;
  flex-shrink: 0;
}

.first-clock-in-btn {
  width: 150px;
  height: 56px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

// clock part
.first_clock_wrap {
  position: relative;
}
.clock_text-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -2px;
  right: 10px;
  justify-content: center;
}

.clock_text-wrap-top {
  font-size: 32px;
}

.clock_text-wrap-bottom {
  font-size: 18px;
}

.clock_text {
  margin-left: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  // width: 234px;
  height: 72px;
  margin: 0 auto;
  font-size: 44px;
}

.clock_text::after {
  border: none;
}

.clock_text-wrap-top,
.clock_text-wrap-bottom,
.clock_text {
  font-family: 'HanTi';
}
