.index-page-bg {
  width: 100%;
  height: 440rpx;
  // z-index: -1;
  // position: fixed;
}

.index-page__clock-in {
  width: 243px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  background: black;
  margin-top: 56px;
  margin-bottom: 48px;
  font-size: 32px;
  border-radius: 0;
}

.at-search-bar {
  background: none !important;
  margin-top: -300px;
}
