/* 默认背景样式*/
radio .wx-radio-input {
  width: 40rpx;
  height: 40rpx;
}

/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
radio .wx-radio-input.wx-radio-input-checked {
  width: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  height: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  border: none;
  background: orange;
}
/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
radio .wx-radio-input.wx-radio-input-checked::before {
  border-radius: 50%; /* 圆角 */
  width: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  height: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  line-height: 40rpx;
  text-align: center;
  font-size: 30rpx; /* 对勾大小 30rpx */
  color: yellow; /* 对勾颜色 白色 */
  border: 1rpx solid red;
  background: green;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

.radio-group .radio {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 3px 12px;
  text-align: center;
  margin-right: 3px;
}
.radio-group .radio.active {
  //此处省略base64图片地址，太长了！！！
  background: red;
  border-color: #0097e0;
  color: #0097e0;
  background-size: 14px;
}

.radio-group .radio.disabled {
  background: #f0f0f0;
  border: 0;
  color: #0097e0;
  color: #9fa2ae;
}
