.blank_page {
}

.blank-content {
  padding-top: 160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blank-img {
  width: 128px;
  height: 128px;
  margin-bottom: 10px;
}

.blank-des {
  font-size: 24px;
  color: #c3c3c5;
}
