.custom-model-layout .at-float-layout__container{
  border-top-left-radius:42px;
  border-top-right-radius: 42px;
}

.custom-model-layout .layout-header{
  border-top-left-radius: 42px;
  border-top-right-radius:42px;
  padding-left: 50px;
  padding-right: 50px;
}


.custom__tag-title {
    color: #3c3e42;
    font-size: 28px;
    margin-bottom: 23px;
    margin-top: 40px;
  }


  .custom-model-layout .layout-body {
    padding: 0 50px;
    padding-bottom: 80px;
  }
