.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_content_img {
  width: 420px;
  height: 292px;
  margin-top: 242px;
  margin-bottom: 61px;
}

.login_btn_img {
  width: 656px;
  height: 90px;
}
