


.cu-radio__title{
    display: inline-flex;
   
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 16px;  
    /* width: 112px; */
    height: 32px;
    line-height: 32px;
    background: #F6F7F9;
    border-radius: 55px;
    color: #3C3E42;
    font-size: 28px;
     padding:8px 20px;
}

.cu-radio__title--checked{
    color: #3266EE;
    background-color: #EDF2FF;
}

/* .cu-sort-radio__title{
    border-radius: 8px;
}

.cu-sort-radio__title--checked{
    border-radius: 8px;
} */