.last-icon,
.next-icon {
  width: 36px;
  height: 36px;
}
.last-icon {
  margin-right: 95px;
}
.next-icon {
  margin-left: 95px;
}
.pagination-split {
  width: 1px;
  height: 24px;
  background-color: #d9dbde;
}

.custom-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 102px;
  border-top: 1px solid rgba(237, 237, 237, 0.9);
  position: fixed;
  bottom: 0;
}

.last-btn,
.next-btn {
  width: 374px;
  height: 102px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
