

.cu-radio__title{
    display: inline-flex;
    /* padding:8px 20px; */
    border-radius:55px;
    margin-right: 20rpx;
    margin-bottom: 20rpx;
 
    /* width: 112px; */
    height: 32px;
    line-height: 32px;
    background: #F6F7F9;
    border-radius: 55px;
    color: #3C3E42;
    font-size: 30px;
    padding: 18rpx 28rpx;
}

.cu-radio__title--checked{
    color: #3266EE;
    background-color: #EDF2FF;
}